<br>
<footer class="footer">
    <div class="container-fluid"><br>
       <p class="text-muted">Created by <a href="http://ajatdesenvolvimento.tk" target="_blank">AJAT Desenvolvimento</a></p>
    </div>
</footer>