<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Koruja Educacional - Administração</title>
	<link rel="stylesheet" href="/assets/bootstrap.css">
	<link rel="stylesheet" href="/assets/bootstrap.custom.css">
	<link rel="stylesheet" href="/assets/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/sticky-footer.css">
	<script type="text/javascript" src="/assets/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/bootstrap.js"></script>
</head>
<body>
<br><br>
<center><div><%= image_tag(asset_path('logo.png'),size: '130') %></div></center>
<%=form_for :admin, url: '/admin' do |f|%>
<%end%>
</body>
</html>